<!-- cinta que se desliza sola: dos mitades iguales para que el loop no se note -->
<div class="cinta" aria-hidden="true">
  <div class="cinta__track">
    <div class="cinta__half"><span>IDENTIDAD DE MARCA</span><i>✦</i><span>REDES SOCIALES</span><i>✦</i><span>PACKAGING</span><i>✦</i><span>WEB</span><i>✦</i><span>IDENTIDAD DE MARCA</span><i>✦</i><span>REDES SOCIALES</span><i>✦</i><span>PACKAGING</span><i>✦</i><span>WEB</span><i>✦</i><span>IDENTIDAD DE MARCA</span><i>✦</i><span>REDES SOCIALES</span><i>✦</i><span>PACKAGING</span><i>✦</i><span>WEB</span><i>✦</i></div>
    <div class="cinta__half"><span>IDENTIDAD DE MARCA</span><i>✦</i><span>REDES SOCIALES</span><i>✦</i><span>PACKAGING</span><i>✦</i><span>WEB</span><i>✦</i><span>IDENTIDAD DE MARCA</span><i>✦</i><span>REDES SOCIALES</span><i>✦</i><span>PACKAGING</span><i>✦</i><span>WEB</span><i>✦</i><span>IDENTIDAD DE MARCA</span><i>✦</i><span>REDES SOCIALES</span><i>✦</i><span>PACKAGING</span><i>✦</i><span>WEB</span><i>✦</i></div>
  </div>
</div>
