<section class="hablemos hablemos--rosa" id="hablemos">
  <div class="hablemos__badge hablemos__badge--ly reveal" aria-hidden="true">
    <img class="hablemos__badge-ring" src="img/badge-ly-ring.png" alt="" width="600" height="600" loading="lazy">
    <img class="hablemos__badge-logo" src="img/logo-byluly.png" alt="" width="600" height="304" loading="lazy">
  </div>
  <h2 class="hablemos__title hablemos__title--serif reveal">{{c:general.hablemos.titulo}}</h2>
  <div class="stagger">
    <p class="hablemos__lead hablemos__lead--rosa">{{c:general.hablemos.texto}}</p>
    <ol class="pasos pasos--rosa">
{{pasos_items}}
    </ol>
    <a href="{{wpp_url}}" target="_blank" rel="noopener" class="btn btn--cream btn--xl">{{c:general.botones.trabajemos}}</a>
  </div>
</section>
